/* UTILITIES */

:root{
    --black: #1f1f1f;
    --dark-grey: #363636;
    --blue: #3a6de7;
    --light-grey: #bebcbb;
    --dark-blue: #161c3b;
    --red: #cd3d0f;
    --white: #ffffff;
}



/* COMMON */
.mybg-black{
    background-color: var(--black);
}

.mybg-light-grey{
    background-color: var(--light-grey);
}

.mybg-dark-blue{
    background-color: var(--dark-blue);
}

.mybg-blue{
    background-color: var(--blue);
}


/* BUTTONS */
.sticky{
    position: sticky;
    top: 0;
}
.btn-accedi{
    background-color: var(--dark-grey);
    border: 1px solid var(--dark-grey);
    border-radius: 20px;
    color: var(--white);
    padding: 3px 15px;
}

.btn-acquista{
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 20px;
    color: var(--white);
    padding: 3px 15px;
}

.btn-info{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 20px;
    color: var(--white);
    padding: 3px 15px;
}



/* NAV */
nav{
    z-index: 2000;
}
nav .nav-link{
    color: var(--black);
}

.dropdown-toggle::after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    vertical-align: middle;
    border: 0;
    color: grey;
    font-size: 0.5rem;
}
header .sony{
    width: 80px;
}

.accedi img{
    width: 30px;
}

.bg-hero{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.bg-hero img{
    max-width: 50%;
}

#hero2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
#hero2 img{
    max-width: 50%;
}

.round-hover{
    transition: all 0.4s;
}
.round-hover:hover{
    cursor: pointer;
    margin-top: -3px;
}

.txt-blue{
    color: var(--blue);
}

.acc-hover:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--blue);
    color: var(--blue);
    opacity: 50%;
}

.game-hover:hover{
    cursor: pointer;
    padding: 0.5px;
    border-bottom: 1px solid var(--blue);
}


/* ### MEDIA QUERY ### */

@media screen and (max-width: 768px){
    .hide{
        display: none;
    }
}