/* UTILITIES */

:root{
    --black: #1f1f1f;
    --dark-grey: #363636;
    --blue: #00439c;
    --light-grey: #bebcbb;
    --lavish-white: #d9dadc;
    --dark-blue: #161c3b;
    --red: #cd3d0f;
    --white: #ffffff;
}



/* COMMON */

.mybg-black{
    background-color: var(--black);
}

.mybg-light-grey{
    background-color: var(--light-grey);
}

.mybg-dark-blue{
    background-color: var(--dark-blue);
}

.mybg-blue{
    background-color: var(--blue);
}

.container-70{
    max-width: 70%;
    margin: 0 auto;
}



/* BUTTONS */


.btn-accedi{
    background-color: var(--dark-grey);
    border: none;
    border-radius: 20px;
    color: var(--white);
    padding: 3px 15px;
}

.btn-acquista{
    background-color: var(--red);
    border: none;
    border-radius: 20px;
    color: var(--white);
    padding: 3px 15px;
}

.btn-info{
    background-color: var(--blue);
    border: none;
    border-radius: 20px;
    color: var(--white);
    padding: 3px 15px;
}

.btn-plus{
    background-color: var(--lavish-white);
    border: none;
    border-radius: 20px;
    color: var(--blue);
    padding: 3px 15px;
}

.btn-now{
    background-color: var(--white);
    border: none;
    border-radius: 20px;
    color: var(--black);
    padding: 3px 15px;
}

.mybtn-hover:hover{
    cursor: pointer;
    filter: opacity(0.7);
}



/* Header */
header .sony{
    width: 80px;
}



/* NAV */
main nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    background-color: var(--white);
}
nav .nav-link{
    color: var(--black);
}

nav .dropdown{
    position: static;
}

.my-nav .dropdown-menu{
    width: 100%;
    top: 74px;
    left: 0;
    right: 0;
    padding: 50px 100px;
    border: none;
}

.my-nav .dropdown-item{
    width: auto;
}

.my-nav .dropdown-menu a{
    color: var(--blue);
}

.sticky{
    position: sticky;
    top: 0;
}

.dropdown-toggle::after {
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    vertical-align: middle;
    border: 0;
    color: grey;
    font-size: 0.5rem;
}

.accedi img{
    width: 30px;
}



/* Hero */
.bg-hero{
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.myp{
    padding-top: 400px;
}
.bg-hero img{
    max-width: 50%;
}

.myactive{
    border: 3px solid var(--blue);
    padding: 2px;
}

.round-hover{
    transition: all 0.4s;
}
.round-hover:hover{
    cursor: pointer;
    transform: translatey(-10px);
    opacity: 50%;
    box-shadow: 5px 5px 10px var(--blue);
}



/* Hero2 */
#hero2{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}
#hero2 img{
    max-width: 50%;
}



/* Accessori */
.txt-blue{
    color: var(--blue);
}

.acc-hover:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--blue);
    color: var(--blue);
    opacity: 50%;
}

.game-hover:hover{
    cursor: pointer;
    transform: scale(1.1);
    border-bottom: 1px solid var(--blue);
}

.border-bot{
    border-bottom: 3px solid transparent;
}



/* Sconti */
#sconti img{
    cursor: pointer;
}
#sconti img:hover{
    opacity: 50%;
}



/* Social */
#social img{
    cursor: pointer;
}
#social img:hover{
    opacity: 50%;
}



/* FOOTER */
footer a{
    color: var(--white);
    text-decoration: none;
}

.footer li{
    list-style-type: none;
}
.footer-bottom img{
    max-width: 150px;
}



/* ### MEDIA QUERY ### */

@media screen and (min-width: 768px){
    #esplora{
        background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 90% 0;
    }

    #play-now{
        background-image: url(../img/ps-now-april-featured-image-block.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 90% 0;
    }
}